<!DOCTYPE html>
<html lang="ko"   xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
layout:decorate="~{fragments/layout}">
<head>
<!-- 한글깨짐 charset="UTF-8" -->
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
		<div th:text="${list}"></div>
	<div layout:fragment="content">
		<table class="table table-bordered table-hover text-center">
			<caption>도서리스트</caption>
			<thead>
					<tr>
					<!-- 	<th scope="col">카테고리</th>
						<th scope="col">제목</th>
						<th scope="col">저자</th>
						<th scope="col">책소개</th>
						<th scope="col">isbn</th>
						<th scope="col">이미지</th>
						<th scope="col">출시일</th>
						<th scope="col">출판사</th> -->
						<!-- <th scope="col" th:text="카테고리"></th>
						<th scope="col" th:text="제목"></th>
						<th scope="col" th:text="저자"></th>
						<th scope="col" th:text="책소개"></th>
						<th scope="col" th:text="isbn"></th>
						<th scope="col" th:text="'이미지'"></th>
						<th scope="col" th:text="'출시일'"></th>
						<th scope="col" th:text="'출판사'"></th> -->
						<th scope="col">카테고리</th>
                        <th scope="col">도서명</th>
                        <th scope="col">저자</th>
                        <th scope="col">책소개</th>
                        <th scope="col">isbn</th>
                        <th scope="col">이미지</th>
                        <th scope="col">출시일</th>
                        <th scope="col">출판사</th>
					</tr>
				</thead>
				<tbody>
					<!-- 1 tr:each="	한개, 상태 :	리스트" -->
					<!-- 2 tr:text="동적으로 꺼내온 데이터" -->
					<!-- 2 th:href="@{/board/insert}" -->
 					<tr th:each=" dto,state : ${list} " >
						<!-- <td th:text="${list.getTotalElements-(list.number*list.size)-state.index}" ></td> -->
						<!-- <td><a th:href="@{|/board/detail/${dto.id}|}" th:text="${dto.title}" ></a></td> -->
 						<td th:text="${dto.category.bookCategoryName}" ></td>
						<!-- <td th:text="${ #temporals.format(dto.bookpublishedDate, 'yyyy-MM-dd HH:mm')  }" ></td> -->
						<td th:text="${dto.bookTitle}" ></td>
						<td th:text="${dto.bookAuthor}" ></td>
						<!-- <td th:text="${dto.bookIntro}" ></td> -->
						<td th:text="${dto.bookIsbn}" ></td>
						<td><img th:src="${dto.bookCover}" /> </td>
						<td th:text="${dto.bookPublishedDate}" ></td>
						<td th:text="${dto.bookPublisher}" ></td>
					</tr>
				</tbody>
		</table>
	</div>
</body>
</html>