<!DOCTYPE html>
<html lang="ko"   xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content" class="container pt-5">
	<h2 class="text-center">희망도서 신청 상세</h2>
	<h4>신청 확인</h4>
	 <table class="table">
	    <thead>
	      <tr>
	        <th>희망도서번호</th>
	        <th>011</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	        <td>카테고리번호</td>
	        <td>123</td>
	      </tr>
	      <tr>
	        <td>제목</td>
	        <td>다군만두고싶다</td>
	      </tr>
	      <tr>
	        <td>저자</td>
	        <td>그럴만두</td>
	      </tr>
	      <tr>
	        <td>출판사</td>
	        <td>정만두했겠다</td>
	      </tr>
	      <tr>
	        <td>출판일</td>
	        <td>1997-09-13</td>
	      </tr>
	      <tr>
	        <td>페이지 수</td>
	        <td>123</td>
	      </tr>
	      <tr>
	        <td>ISBN</td>
	        <td>123456789</td>
	      </tr>
	      <tr>
	        <td>가격</td>
	        <td>300원</td>
	      </tr>
	      <tr>
	        <td>소개</td>
	        <td>정말로 만두한 만두를 본 적 있는가. 이 만두의 만두는 정말로 만두로워서 당신의 만두를 만두로 날려버립니다.</td>
	      </tr>
	      <tr>
	        <td>등록일</td>
	        <td>2025-04-17</td>
	      </tr>
	      <tr>
	        <td>요청 유저</td>
	        <td>만두아님</td>
	      </tr>
	      <tr>
	        <td>요청 사유</td>
	        <td>우리는 충분히 만두하고있나요</td>
	      </tr>
	    </tbody>
 	</table>
<div>
	<button type="reset" class="btn btn-outline-primary">반려</button>
	<button type="submit" class="btn btn-primary">등록</button>
	</div>
</div>
</body>
</html>