<!DOCTYPE html>
<html lang="ko"   xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content">
<div  class="container">
<h2>희망도서 신청</h2>
<h3>신청내역</h3>
<form>
	<div  class="d-flex p-3">
    <input class="form-control me-2 w-75" type="text" placeholder="검색">
    <button class="btn btn-primary " type="button">검색</button>
	</div>
  <table class="table table-bordered table-hover text-center hope_user_search">
  <caption>40db wish list</caption>
    <thead>
      <tr>
        <th>번호</th>
        <th>제목</th>
        <th>저자</th>
        <th>출판사</th>
        <th>등록일</th>
        <th>처리상태</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <script th:inline="javascript">
			$(function(){
					ajax_api('커피');
					//$(".book_result").hide();
					$("#search").on("keyup", function(){
						$(".hope_user_search").fadeIn();
						let searchQuery = $(this).val().trim(); //입력값 공백없이 
						if(searchQuery.length>0){
							$(".hope_user_search").fadeIn();
							ajax_api(searchQuery);
						}
					});
			});
			function ajax_api(search){
				$.ajax({
					url:"/hopeBook/hope_usersearch/" + search,
					type:"GET",
					datatype:"json",
					contentType:"application/json;charset=UTF-8",
					error:function(xhr, status, msg){alert(status+"/"+msg)},
					success:function(json){ 
						$(".hope_user_search tbody").empty();
						if( json && json.items && json.items.length>0 ){
						console.log("json:"+json);
							let items = json.item;
							for(let i=0; i<items.length; i++){
								//1. 데이터 가져오기
								let title=items[i].title;
								let author=items[i].author;
								let publisher=items[i].publisher;
								let pubdate=items[i].pubdate;
								let isbn13=items[i].isbn13;
								//2. tbody 행 추가 `템플릿 리터럴` 
								let row = `
									<tr>
										<td th:text="${i}" ></td>
										<td>${title}</td>
										<td>${author}</td>
										<td>${publisher}</td>
										<td>${pubdate}</td>
										<td>${isbn13}</td>
									</tr>
								`;
								$(".hope_user_search tbody").append(row);
							}
						}else{
							console.log("empty");
						}
						}//end if
					}
				});
			}
			
		</script>
</form>
</div>
</div>
</body>
</html>