<!DOCTYPE html>
<html lang="ko"   xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/layout}">
<head>
<meta charset="UTF-8">
<title>40db wish list</title>
</head>
<body>
<div layout:fragment="content">
	<div class="container pt-5 p-3">
		<h2 class="text-center">희망도서 신청</h2>
		<h4>희망도서 신청</h4>
		<form method="post" action="/hopeBook/submit">
				<div class="my-3">
					<label for="title" class="form-label">제목</label> <input
						 th:value="${param.title}" type="text" name="title" id="title" class="form-control" readonly>
				</div>
				<div class="my-3">
					<label for="writer" class="form-label">저자</label> <input
						 th:value="${param.author}" type="text" name="writer" id="writer" class="form-control" readonly>
				</div>
				<div class="my-3">
					<label for="publisher" class="form-label">출판사</label> <input
						th:value="${param.publisher}" type="text" name="publisher" id="publisher" class="form-control" readonly>
				</div>
				<div class="my-3">
					<label for="isbn" class="form-label">ISBN</label> <input
						th:value="${param.isbn13}" type="text" name="isbn" id="isbn" class="form-control" readonly>
				</div>
				<div>
					<label for="opinion">신청사유</label>
					<textarea id="opinion" name="opinion" class="form-control" placeholder="자유롭게 기입해주세요"></textarea>
				</div>
				<div class="my-3">
				<button type="reset" class="btn btn-outline-primary">취소</button>
				<button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">제출하기</button>
				</div>
				<!-- The Modal -->
				<div class="modal" id="myModal">
				  <div class="modal-dialog">
				    <div class="modal-content">
				
				      <!-- Modal Header -->
				      <div class="modal-header">
				        <h4 class="modal-title text-center">40db 희망도서 신청 성공</h4>
				        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				      </div>
				
				      <!-- Modal body -->
				      <div class="modal-body text-center">
				        희망도서 신청이 완료되었습니다.
				      </div>
				
				      <!-- Modal footer -->
				      <div class="modal-footer">
				        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">닫기</button>
				      </div>
				
				    </div>
				  </div>
				</div>
		</form>
	</div>
</div>
</body>
</html>