<!DOCTYPE html>
<html lang="ko"   xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content">
<div  class="container">
<h2>희망도서 신청</h2>
<h3>신청내역</h3>
<form>
	<div  class="d-flex p-3">
    <input class="form-control me-2 w-75" type="text" placeholder="검색">
    <button class="btn btn-primary " type="button">검색</button>
	</div>
  <table class="table table-bordered table-hover text-center">
  <caption>40db wish list</caption>
    <thead>
      <tr>
        <th>번호</th>
        <th>제목</th>
        <th>저자</th>
        <th>출판사</th>
        <th>등록일</th>
        <th>처리상태</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>3</td>
        <td>로렘입숨</td>
        <td>로렘</td>
        <td>입숨출판사</td>
        <td>2025-04-16</td>
        <td>신청중</td>
      </tr>
	  <tr th:each=" BookHope : ${hope_now} " >
		<td th:text="${list.size()-state.index}" >1</td>
		<td th:text="${dto.book_title}"> 책의 제목</td>
		<td th:text="${dto.book_isbn}" >ISBN</td>
		<td th:text="${dto.BookHope.book_auther}" >작가</td>
		<td th:text="${dto.BookHope.book_publisher}" >출판사</td>
		<td th:text="${dto.BookHope.book_published_date}" >출판일</td>
		<td th:text="${ #temporals.format(dto.createDate, 'yyyy-MM-dd HH:mm')  }" >신청날짜</td>
		<td th:text="${dto.book_hope_stat}" >신청상황</td>
	  </tr>
    </tbody>
  </table>
</form>
</div>
</div>
</body>
</html>