<!DOCTYPE html>
<html lang="ko"   xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2>희망도서 신청</h2>
<h3>신청내역</h3>
<form class="d-flex">
    <input class="form-control me-2" type="text" placeholder="검색">
    <button class="btn btn-primary" type="button">검색</button>
</form>
  <table class="table">
    <thead>
      <tr>
        <th>번호</th>
        <th>제목</th>
        <th>저자</th>
        <th>출판사</th>
        <th>등록일</th>
        <th>처리상태</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>3</td>
        <td>로렘입숨</td>
        <td>로렘</td>
        <td>입숨출판사</td>
        <td>2025-04-16</td>
        <td>신청중</td>
      </tr>
      <tr>
        <td>2</td>
        <td>로렘입숨</td>
        <td>로렘</td>
        <td>입숨출판사</td>
        <td>2025-04-16</td>
        <td>반려됨</td>
      </tr>
      <tr>
        <td>1</td>
        <td>로렘입숨</td>
        <td>로렘</td>
        <td>입숨출판사</td>
        <td>2025-04-16</td>
        <td>신청완료</td>
      </tr>
    </tbody>
  </table>
</body>
</html>